form {
    color: red;
}

input:focus {
    background-color: plum;
    height: 35px;
}

button {
    cursor: pointer;
}

button:hover {
    width: 100px;
    background-color: black;
    color: white;
}

p {
    color: blue;
    height: 5px;
}

